<!DOCTYPE html>
<html>
<%include  layout/header.ejs %>
<body>
<div id="test">
这是首页
</div>




<%include layout/footer.ejs %>
<!--<script src='/javascripts/main/index.js' ></script>-->
</body>
</html>
