<!DOCTYPE html>
<html>
<%include  layout/head.ejs %>
  <body>
  <div id="app">
    {{ message }}
  </div>
    <p>Welcome to <%= title %>2232</p>


  <script src='/javascripts/main/index.js' ></script>
  </body>
</html>
