<!DOCTYPE html>
<html>
<%include  layout/head.ejs %>
<body>
<div id="tpl-1">
    <span>Message: {{ msg }}</span>
    <button  v-on:click="xxxx">xxx</button>
    <br/>
    <span v-html="rawHtml" v-bind:id="ssss">sdadsa</span>
</div>


<script src='/javascripts/main/tpl.js' ></script>
</body>
</html>


